@use "sass:math";

// インナー幅設定
// コンテンツのインナー幅（最も共通の幅が多い部分）
$inner: 930px;
// ※キュンパス幅ではなくインナーの幅を指す

// 余白
$padding-pc: 35px;
$padding-sp: 30px;

:root {
  --inner-padding: 30px;
}

////////////////////
// フォント設定
////////////////////

:root {
  --font-family-base: "Noto Sans JP", sans-serif;
  --font-family-second: "Shippori Mincho B1", serif;
  --font-family-third: "Shippori Mincho", serif;
  --font-family-fourth: "Noto Sans", sans-serif;
}
// ※検証ツールでしっかり反映されているか確認する


// フォントウェイト
:root {
  --font-weight-regular: 400;
  --font-weight-normal: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;
}

////////////////////
// 色の指定
////////////////////

//色指定（共通性のあるものは出来る限り指定すると良い）
:root {
  --black: #000;
  --white: #fff;
  --text-black: #111;
  --sub-title-gray: #4D4D4D;
  --text-gray: #727272;
  --main-blue: #0F5779;
  --main-orange: #DA9B2D;
  --main-red: #AB4545;
  --main-green: #7B6F2F;
  --main-yellow: #D3BC5F;
}

////////////////////
// z-index
///////////////////

:root {
  --z-index-header: 100;
  --z-index-to-top: 200;
  --z-index-drawer: 1000;
  --z-index-hamburger: 2000;
  --z-index-modal: 10000;
}

////////////////////
// レスポンシブ
///////////////////
:root {
  --cq-ref-mobile: 390;
  --cq-ref: 1366;
  --fluid-basis-mobile: (100vw - 320px) / (375 - 320);
  --fluid-basis: (100vw - 768px) / (1366 - 768);
  --fluid-basis-2: (100vw - 1366px) / (1800 - 1366);
}

////////////////////
// アニメーション設定
///////////////////

:root {
  --duration-short: 0.2s;
  --duration-base: 0.3s;
  --duration-semi-long: 0.5s;
  --duration-long: 0.7s;
  

  --ease-smooth-bounce: cubic-bezier(.48, .07, .33, .79);
}

////////////////////
// bodyの指定
////////////////////

body {
  color: var(--text-black);
  font-family: var(--font-family-base);
}