@use "global"as *;

.contact-thanks {
  padding-bottom: rem(65);

  @include mq('md') {
    margin-top: rem(32);
    padding-bottom: rem(103);
  }
}

.contact-thanks__inner {
  margin-inline: auto;
  padding-inline: var(--inner-padding);
  max-width: 500px;
  @include mq('md') {
    max-width: calc(651px + 2 * var(--inner-padding));
  }
}

.contact-thanks__sub {
  text-align: center;
  font-family: var(--font-family-second);
  font-size: rem(20);
  font-weight: var(--font-weight-semibold);
  letter-spacing: calc(2 / 20 * 1em);
}

.contact-thanks__text {
  text-align: center;
  font-size: rem(15);
  font-weight: var(--font-weight-regular);
  line-height: 2;
  letter-spacing: calc(1.5 / 15 * 1em);
  margin-top: rem(25);
  @include mq('md') {
    margin-top: rem(27);
  }
}

.contact-thanks__note {
  text-align: center;
  font-size: rem(15);
  font-weight: var(--font-weight-regular);
  line-height: 2;
  letter-spacing: calc(1.5 / 15 * 1em);
  margin-top: rem(25);
}

.contact-thanks-top-btn {
  margin-top: rem(53);
  text-align: center;
  @include mq('md') {
    margin-top: rem(68);
  }
}

.link-btn-sub {

}

.link-btn-sub--white {

}

.link-btn-sub__text {

}

