@use "global" as *;
.single-works {

}

.single-works__top {
background: url('../images/works/single-works-bg-sp.webp') repeat top center / 100%;
padding-block: rem(30) rem(60);
@include mq('md') {
padding-block: rem(87) rem(120);
background: url('../images/works/single-works-bg.webp') repeat top center / 100%;
}
}

.single-works__top-inner {
  padding-inline: var(--inner-padding);
  margin-inline: auto;
  max-width: 500px;
  @include mq('md') {
    max-width: calc(780px + 2 * var(--inner-padding));
  }
}



.single-works__mv-img {
height: auto;
object-fit: cover;
aspect-ratio: 330 / 296;
@include mq('md') {
  aspect-ratio: 780 / 434;
}
}

.single-works__main {
margin-top: rem(24);
@include mq('md') {
margin-top: rem(31);
}
}

.single-works__title {
  color: var(--white);
  font-family: var(--font-family-second);
  font-size: rem(22);
  font-weight: var(--font-weight-semibold);
  line-height: 1.36364;
  letter-spacing: calc(2.2 / 22 * 1em);
  @include mq('md') {
    font-size: rem(25);
    line-height: 1.2;
    letter-spacing: calc(2.5 / 25 * 1em);
  }
}

.single-works__en-title {
  color: var(--white);
  font-family: var(--font-family-second);
  font-size: rem(12);
  font-weight: var(--font-weight-regular);
  letter-spacing: calc(1.2 / 12 * 1em);
  margin-top: rem(11);
  @include mq('md') {
    font-size: 15px;
    letter-spacing: calc(1.5 / 15 * 1em);
    margin-top: rem(17);
  }
}

.single-works__lead {
  color: var(--white);
  font-size: rem(15);
  font-weight: var(--font-weight-normal);
  line-height: 2;
  letter-spacing: calc(1.5 / 15 * 1em);
  margin-top: rem(26);
  @include mq('md') {
    margin-top: rem(31);
  }
}

.single-works__description {
  color: var(--white);
  font-size: rem(15);
  font-weight: var(--font-weight-regular);
  line-height: 2;
  letter-spacing: calc(1.5 / 15 * 1em);
  margin-top: rem(11);
}

.single-works__content {
margin-top: rem(25);
color: var(--white);
@include mq('md') {
margin-top: rem(78);
padding-inline: rem(33);
}
h2 {
  margin-top: rem(15);
  font-size: rem(22);
  @include mq('md') {
    font-size: rem(24);
  }
}

h3 {
  margin-top: rem(15);
  font-size: rem(20);
  @include mq('md') {
    font-size: rem(22);
  }
}

h4 {
  margin-top: rem(15);
  font-size: rem(18);
  @include mq('md') {
    font-size: rem(20);
  }
}

h5 {
  margin-top: rem(15);
  font-size: rem(16);
  @include mq('md') {
    font-size: rem(18);
  }
}

p {
  color: var(--white);
  font-family: var(--font-family-base);
  font-size: rem(15);
  font-weight: var(--font-weight-regular);
  line-height: 2;
  letter-spacing: calc(1.5 / 15 * 1em);
    margin-top: rem(15);
}

a {
  color: var(--white);
  font-family: var(--font-family-base);
  font-size: rem(15);
  font-weight: var(--font-weight-regular);
  letter-spacing: calc(1.5 / 15 * 1em);
  text-decoration: underline currentColor;
  transition: opacity .3s ease;
}

a:hover {
  opacity: 0.7;
}

ul {
  margin-top: rem(15);
}

ul li {
  padding-left: rem(20);
  font-size: rem(15);
  line-height: 1.5;
  text-indent: rem(-18);
}

ul li:not(:first-of-type),
ol li:not(:first-of-type) {
  margin-top: rem(10);
}

ul li::before {
  content: "";
  margin-right: rem(3);
  position: relative;
  top: rem(-2.5);
  width: rem(7);
  height: rem(7);
  display: inline-block;
  border-radius: 50%;
  background-color: var(--white);
  margin-right: rem(7);
}

ol {
  margin-top: rem(15);
  counter-reset: number;
}

ol li {
  padding-left: rem(28);
  font-size: rem(15);
  line-height: 1.5;
  text-indent: rem(-12);
}

ol li::before {
  counter-increment: number;
  content: counter(number)".";
  display: inline-block;
  line-height: 1;
  color: var(--white);
  margin-right: rem(2);
}

figure {
  margin-top: rem(20);
  padding-bottom: rem(10);

  @include mq(md) {
    margin-top: rem(30);
  }
}
}

.single-works__bottom {
padding-block: rem(49) rem(65);
@include mq('md') {
padding-block: rem(85);
}
}

.single-works__bottom-inner {
  padding-inline: var(--inner-padding);
  margin-inline: auto;
  max-width: 500px;
  @include mq('md') {
    max-width: calc(907px + 2 * var(--inner-padding));
  }
}

.single-works__btn-links {
  margin-top: rem(70);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: rem(89);
  @include mq('md') {
    margin-top: rem(80);
    gap: rem(67);
  }
}
