@use "global" as *;
/* ===============================================
# フェードアニメーション：IntersectionObserver＆GSAP用
=============================================== */

/* フェード */
.js-fade-in {
  opacity: 0;
  transition: opacity var(--duration-long) ease;
  
  &.is-active {
    opacity: 1;
  }
}

/* 上方向にスライド */
.js-fade-up {
  opacity: 0;
  translate: 0 20px;
  transition: opacity var(--duration-long) ease, translate var(--duration-long) ease;
  
  &.is-active {
    opacity: 1;
    translate: 0 0;
  }
}


//画像拡大 -> 縮小
.js-scaleImg {
  overflow: hidden;
  img {
    scale: 1.2;
    transition: scale .8s ease, opacity .8s ease;
    opacity: 0;
  }
  &.is-active img {
    scale: 1;
    opacity: 1;
  }
}

////////////////////
// 遅延時間の指定
////////////////////

:root {
  --delay-1: 0.1s;
  --delay-2: 0.2s;
  --delay-3: 0.3s;
  --delay-4: 0.4s;
  --delay-5: 0.5s;
}

.--delay-1 {
  transition-delay: var(--delay-1);
}

.--delay-2 {
  transition-delay: var(--delay-2);
}

.--delay-3 {
  transition-delay: var(--delay-3);
}

.--delay-4 {
  transition-delay: var(--delay-4);
}

.--delay-5 {
  transition-delay: var(--delay-5);
}

@media (max-width: 768px) {

  .--delay-1,
  .--delay-2,
  .--delay-3,
  .--delay-4 {
    transition-delay: .0s;
  }
}