@use "global" as *;

.footer {
  background: url('../images/common/footer-bg.webp') no-repeat center center / cover;
  color: var(--white);
  padding-block: rem(49) rem(34);
  @include mq('md') {
    padding-block: rem(84) rem(27);
  }
}

.footer__inner {
  padding-inline: rem(56);
  margin-inline: auto;
  max-width: 500px;
  @media (max-width: 767px) {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "logo"
      "address"
      "sns"
      "nav"
      "copyright";
  }
  @include mq('md') {
    max-width: calc(908px + 2 * var(--inner-padding));
  }
}

.footer__logo {
  width: rem(207);
  transition: opacity var(--duration-base) ease;
  @media (max-width: 767px) {
    grid-area: logo;
  }
  @include mq('md') {
    width: rem(264);
  }
  @media (any-hover: hover) {
    &:hover {
      opacity: 0.7;
    }
  }
}

.footer__logo-img {
  height: auto;
  object-fit: contain;
}

.footer__sns {
  margin-top: rem(30);
  @media (max-width: 767px) {
    grid-area: sns;
  }
  @include mq('md') {
    margin-top: rem(36);
  }
}

.footer__sns-link {
  display: inline-block;
  color: var(--white);
  @media (any-hover: hover) {
    &:hover .footer__sns-label:after{
      transform: translateX(6px);
    }
  }
}

.footer__sns-label {
  display: flex;
  align-items: center;
  gap: rem(10);
  color: var(--white);
  font-family: var(--font-family-second);
  font-size: rem(15);
  font-weight: var(--font-weight-semibold);
}

.footer__sns-label::before {
  content: '';
  display: inline-block;
  width: rem(24);
  aspect-ratio: 1/1;
  background-color: var(--white);
  -webkit-mask-image: url('../images/common/instagram-icon.svg');
  mask-image: url('../images/common/instagram-icon.svg');
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;
  margin-right: rem(2);
}

.footer__sns-label::after {
  content: '';
  display: inline-block;
  width: rem(31);
  aspect-ratio: 31/12.834;
  background-color: var(--white);
  -webkit-mask-image: url('../images/common/arrow-right-link.svg');
  mask-image: url('../images/common/arrow-right-link.svg');
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;
  transition: transform var(--duration-base) ease;
  margin-top: rem(2);
}

.footer__nav {
  margin-top: rem(28);
  @media (max-width: 767px) {
    grid-area: nav;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-auto-flow: column;
    gap: rem(20) rem(40);
  }
  @include mq('md') {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: rem(80);
    margin-top: rem(23);
  }
}

.footer__nav-link {
  color: var(--white);
  font-family: var(--font-family-second);
  font-size: rem(15);
  font-weight: var(--font-weight-semibold);
  position: relative;
  @include mq('md') {
    padding-bottom: rem(4);
  }
  @include mq('xl') {
    font-size: clamp(15px, calc(15px + 1 * var(--fluid-basis-2)), 16px);
  }
}

.footer__nav-link::before {
  content: '';
  position: absolute;
  left: 50%;
  translate: -50% 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: currentColor;
  opacity: .5;
  transform: scale(0, 1);
  transform-origin: right top;
  transition: transform 0.6s cubic-bezier(0.6, 0, 0, 1);
}

.footer__nav-link:hover::before {
  transform: scale(1, 1);
  transform-origin: left top;
}

.footer__address {
  color: #FFF;
  font-size: rem(12);
  font-family: var(--font-family-fourth);
  font-weight: var(--font-weight-normal);
  line-height: 1.66667;
  letter-spacing: calc(1.2 / 12 * 1em);
  margin-top: rem(18);
  @media (max-width: 767px) {
    grid-area: address;
  }
  @include mq('md') {
    margin-top: rem(32);
  }
  @include mq('xl') {
    font-size: clamp(12px, calc(12px + 1 * var(--fluid-basis-2)), 13px);
  }
}

.footer__copyright {
  display: block;
  color: var(--white);
  text-align: center;
  font-family: var(--font-family-fourth);
  font-size: rem(10);
  font-weight: var(--font-weight-normal);
  margin-top: rem(24);
  @media (max-width: 767px) {
    grid-area: copyright;
  }
  @include mq('md') {
    margin-top: rem(29);
    font-size: rem(13);
    font-weight: var(--font-weight-regular);
    line-height: 2.88462;
    letter-spacing: calc(0.65 / 13 * 1em);
  }
}
