@use "global" as *;

.sub-mv {
padding-block: rem(42) rem(37);
@include mq('md') {
padding-block: rem(45) rem(32);
}
}

.sub-mv__content {
display: flex;
flex-direction: column;
align-items: center;
}

.sub-mv__content--works {
& .sub-mv__title {
width: rem(98);
@include mq('xl') {
 width: clamp(98px, calc(98px + 10 * var(--fluid-basis-2)), 108px);
}
}
}

.sub-mv__en-title {
  color: var(--sub-title-gray);
  font-family: var(--font-family-second);
  font-size: rem(14);
  font-weight: var(--font-weight-semibold);
  line-height: 1;
  letter-spacing: calc(2.1 / 14 * 1em);
  padding: rem(2) rem(22) rem(4) rem(22);
  border-radius: 1px;
background: url('../images/common/works-bg_white.webp') no-repeat center center / cover;
@include mq('xl') {
 font-size: clamp(14px, calc(14px + 2 * var(--fluid-basis-2)), 16px);
}
}

.sub-mv__title {
margin-top: rem(8);
@include mq('md') {
margin-top: rem(11);
}
}

.sub-mv__title-img {
height: auto;
object-fit: contain;
}

