@use "global"as *;

.to-top {
  position: fixed;
  right: rem(34);
  bottom: rem(34);
  width: rem(44);
  cursor: pointer;
  z-index: var(--z-index-to-top);
  opacity: 0;
  visibility: hidden;
  transition: opacity var(--duration-semi-long) ease, visibility var(--duration-semi-long) ease;

  &.js-active {
    opacity: 1;
    visibility: visible;
  }

  @include mq('md') {
    right: rem(69);
    bottom: rem(69.5);
  }

  @media (any-hover: hover) {
    &:hover {
      opacity: 0.7;
    }
  }
}

.to-top__img {
  height: auto;
  object-fit: contain;
}