@use "global"as *;

.not-found {
  margin-top: rem(40);
font-family: var(--font-family-second);
  @include mq('md') {
    margin-top: rem(50);
  }
}

.not-found__title {
  text-align: center;
  font-size: rem(20);
  font-weight: 700;

  @include mq('md') {
    font-size: rem(28);
  }
}

.not-found__text {
  margin-top: rem(20);
  line-height: 1.8;
  font-size: rem(16);

  @media (max-width: 767px) {
    width: fit-content;
    margin-inline: auto;
  }

  @include mq('md') {
    font-size: rem(20);
    text-align: center;
  }
}

.not-found__top-link-wrap {
  margin-top: rem(60);
  padding-bottom: rem(46);
  display: flex;
  justify-content: center;

  @include mq('md') {
    padding-bottom: rem(55);
  }
}